<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LearnUp</title>

  <!-- Favicons -->
  <link href="assets/img/favicon (1).ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Main CSS File -->
  <link href="/fidProj_Style.css" rel="stylesheet">
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="/home">Learn<span>Up</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= home page Section ======= -->
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      <h2>Collaborate <span>With</span><br>Others!</h2>
      <div>
        
      </div>
    </div>


  </section>
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Find Projects</h2>
        </div>
        <% data.forEach(function(ivu){ %>
        <div class="container mt-4">

            <div class="jumbotron">
              <div class="firstjumbo">
                <div class="semi">
  <h1><%=ivu.proj_title%></h1>
  <p ><b> <i>DOMAIN: <%=ivu.domain%></i> </b></p>
  <p><b> <i>Published by: <%=ivu.name%> </i> </b></p>
                </div>

  <!-- RANDOM IMAGE -->
  <div class="image">
    
  </div>
  <div class="imageDisplayWrapper" style="margin-top: 25px;">
    <img
      class="imageToDisplay"
      style="width: 150px; height: 100px; border-radius: 200px solid black;"
    />  
  
  </div>
                </div>
  <hr class="my-4">
  <p><b>Project description:</b> <%=ivu.proj_desc%></p>
  
  <div class="lead">
    <a class="btn btn-primary btn-sm" href="<%=ivu.github%>" role="button">Github</a>
   
    <span> <a class="btn btn-primary btn-sm" href="mailto:<%=ivu.email%>" role="button">Email</a></span> 
  </div>
</div>

        </div>
        

         
        </div>
        <%  })%>
      
    </section>

    <!-- ======= Services Section ======= -->
    

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>LearnUp</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Team Terminators</a>
      </div>
    </div>
  </footer>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

    <!-- RANDOM IMAGE API CODE -->

    <script>
      const requestUrl =
        'https://api.unsplash.com/search/photos?query=programming&client_id=xp1MflO9b1tLzKsk1lJWL-FIR9qcn3LxgaVEvEXIcRM';
          const imageToDisplay = document.getElementsByClassName('imageToDisplay');
  
      async function display(){
       
       for(let i=0;i<imageToDisplay.length;i++){
        let randomImage = await getNewImage();
        imageToDisplay[i].src = randomImage;
       }
        }
        display()
  
      async function getNewImage() {
        let randomNumber = Math.floor(Math.random() * 10);
        return fetch(requestUrl)
          .then((response) => response.json())
          .then((data) => {
            let allImages = data.results[randomNumber];
            return allImages.urls.regular;
          });
      }
     
    </script>

</body>

</html>